/* You can add global styles to this file, and also import other style files */
body {
  background-color:#EBEBEB;
  padding-top: 5em;
}
* {
  font-family: 'Raleway';
}
button {
  background:#008FEF;
  color:white;
  padding: 0.5em;
  /*width:100px;*/
  /*height: 30px;*/
  /*text-align:center;*/
  font-size:0.9em;
  margin-bottom: 30px;
  cursor:pointer;
}
